/* Container & item */

#npc-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 5%;
}

.container .item {
    align-self: center;
}

input {
    width: 70%;
}

textarea {
    width: 80%;
    height: 100px;
}

#description {
    grid-column: 3 / span 2;
}

#notes {
    grid-column: 3 / span 2;
}

form button {
    margin: 2%;
}