/* buttons */
#game-grid {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 2%;
}

#game-grid button {
    margin: 1% 40%;
    padding: 10px;
    border-radius: 5px;
}

#game-form input {
    width: 20%;
}