/* Main content */

.wrap {
    position: relative;
    padding: 20px;
    background-color: #cfcabf;
}

/* Search bar & Creating folders */

.search-bar{
    display: fleX;
    justify-content: flex-end;
    align-content: center;
    margin: 0 3%;
    gap: 10px;
}

.search-bar .folder {
    width: 100%;
    text-align: left;
}

.folder button {
    background-color: #cfcabf;
    border: none;
    padding: 0 0 0 0.5em;
}

.search-bar span {
    padding-top: 2px;
}

.search-bar input {
    width: 20%;
}

/* Back to portfolio button */

.back-btn {
    display: flex;
}

.back-btn button{
    margin: 0.5em;
    border: 1px solid black;
    display: flex;
    gap: 2px;
}

.back-btn button:hover {
    background-color:#4b477c;
}

/* Title of Game && Folder */

.fold-title h4 {
    font-weight: bold;
    font-size: 2em;
}

.fold-title {
 background: rgb(207,202,191);
background: linear-gradient(90deg, rgba(207,202,191,1) 0%, rgba(157,141,241,1) 55%, rgba(207,202,191,1) 100%); 
    padding: 1.5em 0;
    margin-bottom: 2em;
}


/* Flexbox containing the portfolio list */

.tab-content {
    position: relative;
    display: block;
    overflow-wrap: break-word;
    padding: 20px;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 -5px;
    padding: 0;
}

/* Size & Position of every tile */

.tiles li.mod-tile {
    width: 20%;
    height: 250px;
}

.tiles > li {
    display: block;
    position: relative;
    min-width: 0;
    padding: 5px 12px 0px 12px;
}

.mod-tile {
    position: relative;
}

/* Dropdown menu */

#droptile {
    width: 2em;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 10;
}

#tile-btn {
    border: none;
    border-radius: 5px;
    opacity: 0.5;
}

#tile-btn:hover {
    background-color: rgb(39, 36, 36);
}

#delete-btn {
    color: red;
}

#delete-btn:hover {
    color: white;
}

#hiding {
    display: none;
}
    
/* image adjusting */

.mod-image {
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

#star-icon, #kill-icon {
    width: 1em;
    height: 1em;
    margin: 0 0 2px 2px;
}

/* Content adjusting */

.tile-content {
    float: center;
}

#drop-content {
    opacity: 0.8;
    background: grey;
    width: 10em;
}

.tile-content p {
    height: 100%;
}

.input-content {
    display: flex;
}

#folder-input {
    width: 100%;
}

.input-content button {
    background-color: transparent;
    border: 1px solid black;
}

.input-content button:hover {
    background-color: #696597;
}

/* Send to... dropdown */

#send-content {
    display: none;
    background-color: grey;
}

#send-drop:hover #send-content {
    display: inline-block;
    margin-left: 1.2em;
    padding: 1px;
}