/* Wrapper & main content */

#nav-logo {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
}

#nav-title {
  cursor: pointer;
}

.wrapper {
  text-align: center;
  box-sizing: border-box;
  display: block;
  margin: 0 5%;
  position: relative;
}

#main-content {
  scroll-margin-top: 50px;
}

h1 {
  font-weight: bold;
  font-size: 5em;
}

#second-content {
  border: solid 3px black;
}