/* Wrapper & main content */

.wrapper {
  text-align: center;
  box-sizing: border-box;
  max-width: 1290px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  z-index: 11;
  display: block;
}
